.shipmentTracking
{
	float:right;
	margin-right:80px;
}
.print_drs
{
	background: url(../image/printer.png);
	height:103px;
	width:101px;
	margin-left:120px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
}
.print_text
{
	margin-left:118px;
	font-weight:bold;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}


.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
	margin:10px 0;
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #636B6F;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}

.button-chart-aging {
    border: none;
	border-radius: 5px;
    color: white;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 15px 2px;
    cursor: pointer;
}

.button_danger {background-color: #FF0000;}
.button_warning  {background-color: #EC971F;}

.chart_div
{
	text-align:center;
	margin-bottom:100px;

}

.app
{
	margin-top:50px;
}
input[readonly]{
  background-color:#CCC !important;
  font-size: 1em;
}

svg > g > g:last-child { pointer-events: none }